{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% block content %}
     <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>



{% block header %}
<h2>Edit entry.</h2>
{% endblock header %}
<form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'> {% csrf_token %}
{% bootstrap_form form %}
    <!--{{ form.as_p }}-->
     {% buttons %}
<button name="submit" class="btn btn-primary">save changes</button>
    {% endbuttons %}
     </form>
   {% endblock content %}



