{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% block content %}
 <h2><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h2>
<p>Add a new entry:</p>
 <form action="{% url 'learning_logs:new_entry' topic.id %}" method='post'>
       {% csrf_token %}

       {% bootstrap_form form %}
       <!--{{ form.as_p }}-->
       <button name='submit' class="btn btn-primary">add entry</button>
     </form>
   {% endblock content %}
