
{% extends "learning_logs/base.html" %}

{% load bootstrap3 %}

{% block header %}
<h2>Register</h2>
{% endblock header %}
{% block content %}
<form method="post" action="{% url 'users:register' %}"> {% csrf_token %}
   {% bootstrap_form form %}
 {% buttons %}
<!--{{ form.as_p }}-->
<button name="submit">register</button>
  {% endbuttons %}
<input type="hidden" name="next" value="{% url 'learning_logs:index' %}" /> </form>
{% endblock content %}




